/*
 * Feel free to change name of colors if you need it
 * Feel free to add new colors if you need it
 */
:root {
  --bg-color--dark: #0b192f;
  --bg-color--header: #024161;
  --link: #fff;
  --link--hover: #1f52a4;
  --bg-footer-color: #024161;
}

body {
  font-family: roboto;
}
.post-5 {
	background: #9d27b0;
}
.post-4 {
	background: #9bb800;
}
.post-3 {
	background: #ed5120;
}
.post-2 {
	background: #9d27b0;
}
.post-1 {
	background: #2d95bb;
}

/* Your styles go here */
/*@media screen {*/
  *{
    box-sizing: border-box;
  }
  body{
    margin: 0;
    padding: 0;
    background-color: #0b192f;
    color: #fff;
    display: grid;
    justify-content: center;
  }
  h1, h2{
    font-weight: 300;
  }
  h2{
    font-size: 3em;
    color: #fff;
    line-height: 1em;
    margin-bottom: 0;
  }
  /*
  .header{
    margin-bottom: 1.5em;
  }*/
  .link{
    color: #fff;
    text-decoration: none;
  }
  .nav-bar{
    display: none;
  }
  .site_title{
    color: #9d27b0;
  }
  .link:hover{
    background-color: #1f52a4;
  }
  .wrapper{
    display: grid;
    grid-template-columns: minmax(auto, 1400px);
    grid-gap: 0.625em;
    padding: 0em 0.625em;
    background-color: #777;
  }
  .header{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: baseline;
    background-color: #024161;
    padding: 0em 3em;
  }
  .menu{
    display: grid;
    justify-self: end;
    align-self: center;
    grid-auto-flow: column;
  }
  .menu_item{
    padding: 30px 30px; 
  }
  .hero{
    background-image: url("../img/post0.jpg");
    background-position: bottom;
    background-repeat: no-repeat;
    background-size: cover;
    height: 24em;
    display: grid;
    grid-template-columns: 2fr 1fr;
    align-items: end;
    color: #9daaac; 
    line-height: 2em;
    padding: 3em;
    font-size: 1.05em;
  }
  @media screen and (max-width: 768px) {
    .header{
      grid-template-columns: auto;
      justify-items: center;
      padding: 1em 3em;
    }
    .menu{
      display: none;
    }
    .nav-bar{
      display: block;
      color: #fff;
      font-size: 1.5em;
      padding: 1em;
    }
    .hero{
      grid-template-columns: auto;
      padding: 2em;
      font-size: 0.9em;
    }
  }
  @media screen and (max-width: 480px) {
    .hero{
      padding: 1em;
      font-size: 1.1em;
      line-height: 1.8em;
    }
  }
  /*
  .wrapper{
    max-width: 1400px;
    padding-left: 10px;
    padding-right: 10px;
  }
  .header{
    display: flex;
    justify-content: space-between;
    background-color: #024161;
    padding-left: 2em;
    padding-right: 5em;
    position: relative;
  }
  .menu{
    display: flex;
  }

  
  
   .hero_image{
    background-image: url("../img/post0.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-position-y: -5em;  
    height: 26em;
    display: grid;
    align-content: end;
    padding: 3em;
  }
  .hero_text p{
    color: #9daaac;
    display: grid;
    font-size: 1.1em;
    grid-auto-columns: 70%;
  }
  .hero_title{

    line-height: 1em;
    margin-bottom: 0;
  }
  .hero_text{
    line-height: 1.5em;
  }
}
@media screen and (min-width: 1300px) {
  .hero_image{
    background-size: cover; 
  }
}

@media screen and (max-width: 768px) {
  .menu{
    display: none;
   }
  .nav-bar{
    display: block;
    color: #fff;
    font-size: 1.5em;
    margin: 1em;
  }
  .header{
    flex-flow: column-reverse;
    align-items: center;
    padding: 0;
  }
  header h1{
    margin-bottom: 2em;
  }
  .hero_image{
    background-position-x: -22em;
  }
  .hero_text{
    margin-bottom: 1em;
  }
  .hero_title{
    font-size: 2.8em;
    margin-bottom: 0.8em;
  }
  .hero_text p{
    font-size: 0.9em;
    grid-auto-columns: auto;
  }
}
@media screen and (max-width: 480px) {
  .hero_image{
      background-position-x: -29em;
      background-position-y: -3em;
      padding: 2.5em;
  }
  .hero_text{
    margin-bottom: 0.1em;
  }
  .hero_title{
    font-size: 3em;
  }
  .hero_text p{
    font-size: 1em;
    margin-top: 2.8em;
  }
}

*/