* {
  box-sizing: border-box;
}
body {
  margin: 0;
  padding: 0;
  background-color: #0b192f;
  color: #fff;
  display: grid;
  justify-content: center;
  font-family: roboto;
}
h1{
  font-weight: 300;
}
h2 {
  font-size: 3em;
  color: #fff;
  line-height: 1em;
  margin-bottom: 0;
  font-weight: 200;
}
a {
  color: #fff;
  text-decoration: none;
}
.link:hover {
  background-color: #1f52a4;
}
.nav-bar {
  display: none;
}
.img-container:hover:after{
    content :"";
    display: flex;
    opacity: 0.3;
    height: 100%;   
}

.post-5, .post-5 .img-container:hover::after {
    background: #9d27b0;
}

.post-4, .post-4 .img-container:hover::after{
  background: #9bb800;
}

.post-3, .post-3 .img-container:hover::after {
  background: #ed5120;
}

.post-2, .post-2 .img-container:hover::after {
  background: #9d27b0;
}
.post-1 {
  background: #2d95bb;
}
.site_title {
  color: #9d27b0;
}
.wrapper {
  display: grid;
  grid-template-columns: minmax(auto, 1400px);
  grid-gap: 0.625em;
  padding: 0em 0.625em;
}
.header {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-items: baseline;
  background-color: #024161;
  padding: 0em 3em;
}
.menu {
  display: grid;
  justify-self: end;
  align-self: center;
  grid-auto-flow: column;
}
.menu_item {
  padding: 30px 30px;
}
.hero {
  background-image: url("../img/post0.jpg");
  background-position: bottom;
  background-repeat: no-repeat;
  background-size: cover;
  height: 24em;
  display: grid;
  grid-template-columns: 2fr 1fr;
  align-items: end;
  color: #9daaac;
  line-height: 2em;
  padding: 3em;
  font-size: 1.05em;
}
.container{
  display: grid;
  grid-template-columns: 3fr 1fr;
  grid-gap: 0.625em;
}
.main_content {
  display: flex;
  flex-direction: column-reverse;
}
.post:nth-child(even){
  direction: rtl;
}
.post:nth-child(even) .summary_title{
  padding-right: 0.9em;
}
.post:nth-child(even) .date{
  direction: ltr;
}
.post:nth-child(even) .summary_text{
  direction: ltr;
  text-align: end;
}
.post{
  position: relative;
  display: grid;
  grid-template-columns: 1fr 1.02fr;
}
.post.no-img{
  grid-template-columns: auto;
}
.post.no-img .summary_text{
  padding-right: 6em;
}
.img-container, .img-news{
  position: relative;
  overflow: hidden;
}

.img-post{
  position: absolute;
  height: 100%;
}
.img-post, .img-news{
  top: 50%;
  left: 50%;
  width: 100%;
  transform: translate(-50%,-50%);
  object-fit: cover;
  object-position: bottom;
}
.summary{
  padding: 1em;
  display: grid;
  grid-template-columns: 10fr 1fr;
  grid-template-areas:
    "title date"
    "text text"
}
.summary_title{
  grid-area: title;
  font-size: 3.5em;
  padding-left: 0.6em;
}

.summary_title:hover{
  opacity: 0.5;
}
.summary .date {
  grid-area: date;
  font-size: 4em;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-weight: 200;
  opacity: 0.4;
}
.date span{
  font-size: 0.6em;
}
.summary_text{
  grid-area: text;
  line-height: 1.8em;
  font-size: 1.1em;
  font-weight: 300;
  padding-right: 3em;
  padding-left: 2em;
}
.side_content{
  display: grid;
  grid-gap: 0.625em;
  grid-auto-rows: max-content;
}
.news{
  display: grid;
  grid-template-rows: max-content;
  grid-auto-rows: max-content;
}
.news .img-container{
  display: grid;
  align-self: flex-start;
}
.news_content{
  background-color: #fff;
  color: #777;
  padding: 2em;
}
.news a{
  color: #000;
}
.news_content .news_title{
    font-size: 2em;
    font-weight: 300;
    padding: 0em 3em 0em 0em;
    margin: 0;
}
.news_content .news_text{
  line-height: 1.5em;
  padding-right: 2.5em;
  font-size: 1em;
}
.footer-container{
  background-color: #024161;
  opacity: 0.6;
  display: flex;
  justify-content: space-between;
  padding: 2em;
  align-items: baseline;
  margin-bottom: 0.5em;
}

@media screen and (max-width: 768px) {
  .header {
    grid-template-columns: auto;
    justify-items: center;
    padding: 1em 3em;
  }
  .menu {
    display: none;
  }
  .nav-bar {
    display: block;
    color: #fff;
    font-size: 1.5em;
    padding: 1em;
  }
  .hero {
    grid-template-columns: auto;
    padding: 2em;
    font-size: 0.9em;
  }
  .post:not(.no-img){
    grid-template-rows: 0.95fr 1fr;
    grid-template-columns: auto;
  }
  .post.no-img .summary{
    grid-template-columns: auto;
    grid-template-areas:
    "title"
    "text"
    "date"
  }
  .post:nth-child(even) .summary_text{
    text-align: start;
  }
  .post.no-img .summary_text{
    padding-right: 2em;
  }
  .summary .summary_text{
    font-size: 1em;
  }
  .post.post-img .summary_text{
    padding-right: 1em;
  }
  .post:nth-child(even){
    direction: ltr;
  }
  .news_content .news_title{
    font-size: 1.5em;
    padding: 0;
  }
  .news_content .news_text{
    font-size: 0.6em;
    padding: 0;
  }
  .footer-container{
    display: block;
    text-align: center;
  }
}

@media screen and (max-width: 480px) {
  .hero {
    padding: 1em;
    font-size: 1.1em;
    line-height: 1.2em;
  }
  .container{
    grid-template-columns: auto;
  }
  .summary_title{
    font-size: 2.8em;
  }
  .news_content .news_title{
    font-size: 1.8em;
  }
  .news_content .news_text{
    font-size: 0.95em;
  }
  .footer-container{
    margin-top: 1em;
  }
  .footer-container .footer-text{
    line-height: 2em;
  }
}
