/*
 * Feel free to change name of colors if you need it
 * Feel free to add new colors if you need it
 */
:root {
  --bg-color--dark: #0b192f;
  --bg-color--header: #024161;
  --link: #fff;
  --link--hover: #1f52a4;
  --bg-footer-color: #024161;
}

body {
  font-family: roboto;
}
.post-1 {
	background: #9d27b0;
}
.post-2 {
	background: #9bb800;
}
.post-3 {
	background: #ed5120;
}
.post-4 {
	background: #9d27b0;
}
.post-5 {
	background: #2d95bb;
}

/* Your styles go here */
*{
  box-sizing: border-box;
}
body{
  margin: 0;
  padding: 0;
  max-width: 100%; 
  background-color: #0b192f;
  color: #fff;
  display: grid;
  justify-content: center;
}
h1{
  font-weight: 300;
}
h2{
  font-weight: 200;
}
@media screen {
  .header{
    margin-bottom: 1.5em;
  }
  .link{
    color: #fff;
    text-decoration: none;
  }
  .nav-bar{
    display: none;
  }
  .site_title{
    color: #9d27b0;
  }
  
  .wrapper{
    max-width: 1400px;
    padding-left: 10px;
    padding-right: 10px;
  }
  .header{
    display: flex;
    justify-content: space-between;
    background-color: #024161;
    padding-left: 2em;
    padding-right: 5em;
    position: relative;
  }
  .menu{
    display: flex;
  }
  .menu_item{
    padding: 30px 30px; 
  }
  .menu_item:hover{
    background-color: #1f52a4;
  }
  
   .hero_image{
    background-image: url("../img/post0.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-position-y: -5em;  
    height: 26em;
    display: grid;
    align-content: end;
    padding: 3em;
  }
  .hero_text p{
    color: #9daaac;
    display: grid;
    font-size: 1.1em;
    grid-auto-columns: 70%;
  }
  .hero_title{
    font-size: 3.5em;
    line-height: 1em;
    margin-bottom: 0;
  }
  .hero_text{
    line-height: 1.5em;
  }
}
@media screen and (min-width: 1300px) {
  .hero_image{
    background-size: cover; 
  }
}

@media screen and (max-width: 768px) {
  .menu{
    display: none;
   }
  .nav-bar{
    display: block;
    color: #fff;
    font-size: 1.5em;
    margin: 1em;
  }
  .header{
    flex-flow: column-reverse;
    align-items: center;
    padding: 0;
  }
  header h1{
    margin-bottom: 2em;
  }
  .hero_image{
    background-position-x: -22em;
  }
  .hero_text{
    margin-bottom: 1em;
  }
  .hero_title{
    font-size: 2.8em;
    margin-bottom: 0.8em;
  }
  .hero_text p{
    font-size: 0.9em;
    grid-auto-columns: auto;
  }
}
@media screen and (max-width: 480px) {
  .hero_image{
      background-position-x: -29em;
      background-position-y: -3em;
      padding: 2.5em;
  }
  .hero_text{
    margin-bottom: 0.1em;
  }
  .hero_title{
    font-size: 3em;
  }
  .hero_text p{
    font-size: 1em;
    margin-top: 2.8em;
  }
}

