* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  max-width: 100%;
  font-family: "Hind", sans-serif;
  color: #2c2f3c;
  line-height: 1;
  background-color: #fff;
}
body main {
  margin: 0 auto;
  padding: 0;
  max-width: 960px;
}

header {
  font-size: 14px;
  background: url("../img/m-h-day.jpg") no-repeat;
  background-position-y: center;
  height: 720px;
  border-bottom-right-radius: 40%;
}
header .header-wrap {
  margin: 0px 0px 0px 155px;
  padding: 15px 0px 0px 0px;
  max-width: 600px;
}
header .header-wrap .header_heading {
  position: relative;
  font-size: 65px;
  font-weight: 900;
  z-index: 1;
}
header .header-wrap .header_heading::after {
  z-index: -1;
  content: '';
  position: absolute;
  width: 272px;
  height: 55px;
  background-color: #14a0c7;
  bottom: 0;
  left: 0;
}
header .header-wrap .header_text {
  white-space: pre-line;
  line-height: 1.5;
  margin-bottom: 60px;
}
header .header-wrap a.login {
  margin-left: 150px;
  color: #fff;
  font-size: 16px;
  font-weight: 400;
}

.landing-logo {
  display: flex;
}
.landing-logo img {
  width: 45px;
  height: 45px;
  float: left;
}
.landing-logo p {
  display: flex;
  flex-flow: column;
  text-align: center;
  margin: 0;
  padding: 5px 0px 0px 15px;
  max-width: 100%;
  font-weight: bold;
  font-size: 20px;
}
.landing-logo p span {
  display: block;
  font-weight: normal;
  font-size: 10px;
}

button {
  padding: 14px 40px;
  background-color: #699900;
  border: none;
  border-radius: 3px;
  color: #fff;
  font-weight: bold;
}
button:hover {
  background-color: #14a0c7;
}

.section_text {
  position: relative;
  font-size: 45px;
  font-weight: bold;
  text-align: center;
  z-index: 1;
}
.section_text::after {
  z-index: -1;
  content: '';
  position: absolute;
  width: 208px;
  height: 55px;
  background-color: #14a0c7;
  bottom: 10px;
  left: 495px;
}

.section_card_wrap .section_card {
  display: flex;
  background-color: #21232e;
  text-align: center;
  margin-bottom: 20px;
  padding: 20px;
  border-radius: 5px;
  color: white;
}
.section_card_wrap .section_card img {
  width: 100%;
  border-radius: 5px;
}
.section_card_wrap .section_card .section_card_right_container {
  padding: 15px 85px 10px 85px;
}
.section_card_wrap .section_card .section_card_right_container .section_card_heading {
  font-size: 20px;
  font-weight: bold;
}
.section_card_wrap .section_card .section_card_right_container .section_card_text {
  padding-top: 20px;
  text-align: justify;
  color: #c0c3ce;
  line-height: 1.5;
}
.section_card_wrap .section_card .section_card_right_container .section_link {
  color: #c0c3ce;
}
