@mixin general-set($margin: 0, $padding: 0, $max-width: 100%){
    margin: $margin;
    padding: $padding;
    max-width: $max-width;
}
@mixin font-set ($size: 15px, $weight: normal, $color: inherit){
    font-size: $size;
    font-weight: $weight;
    color: $color;
}
@mixin display-flex ($flow: unset, $align: unset, $content: unset) {
    display: flex;
    flex-flow: $flow;
    align-items: $align;
    justify-content: $content;
}
@mixin button-set{
    width: 145px;
    height: 48px;
    font-size:15px;
    color: map-get($generalColors, contentBackground);
    font-weight: bold;
    background-color: map-get($generalColors, buttonBackground);
    border: none;
    border-radius: 3px;
}
@mixin highlight-word($posX, $posY, $width, $height){
    z-index: -1;
    content: '';
    position: absolute;
    width: $width;
    height: $height;
    background-color: map-get($generalColors, highlightColor);
    bottom: $posY;
    left: $posX;
}
*{
    box-sizing: border-box;
}
body {
    @include general-set;
    font-family: map-get($generalFonts, fontRegular);
    color: map-get($generalColors, mainText);
    background-color: map-get($generalColors, contentBackground);
    main {
        position: relative;
        @include general-set($margin: 0 auto, $max-width: 960px);
        @include display-flex($flow: column, $align: center);
    }
}
header{
    @include font-set;
    background: url($pathImage) no-repeat;
    background-position-y: center;
    height: 720px;
    border-bottom-right-radius: 40%;
    .header-wrap{
        margin-left: 130px;
        padding-top: 15px;
        width: 600px;
        .header_heading{
            position: relative;
            @include font-set(65px,900);
            line-height: 1;
            z-index: 1;
            margin-top: 100px;
            margin-bottom: 35px;
            &::after{
                @include highlight-word(0,0,272px,55px);
            }
        }
        .header_text{
            font-family: map-get($generalFonts, fontText);
            white-space: pre-line;
            line-height: 1.5;
            margin-top: 0px;
            margin-bottom: 60px;
        }
        a.login{
            margin-left: 150px;
            @include font-set(16px,600,map-get($generalColors, linkColor));
        }
    }
}
.header_button{
    @include button-set;
    &:hover{
        background-color: darken(map-get($generalColors, buttonBackground),7%);
    }
}
.landing-logo{
    display: flex;  
    img{
        width: 45px;
        height: 45px;
        float: left;
    }
    p{
        font-family: map-get($generalFonts, fontText);
        display: flex;
        flex-flow: column;
        align-items: center;
        @include general-set($padding: 5px 0px 0px 15px);
        @include font-set(20px,bold);
        line-height: 1.1;
        span{
            display: block;
            @include font-set(10px);
        }
    }
}
.section_text{
    position: relative;
    @include font-set(45px,600);
    z-index: 1;
    &::after{
        @include highlight-word(231px,10px,203px,55px);
    }
}
.section_card_wrap{
     margin-bottom: 180px;
}
.section_card{
    @extend footer;
    display: flex;
    text-align: center;
    margin-bottom: 20px;
    padding: 20px;
    border-radius: 5px;
    img{
        width: 100%;
        border-radius: 5px;
    }
    .section_card_right_container{
        padding: 15px 85px 10px 85px;
        .section_card_heading{
            @include font-set(20px,bold,map-get($generalColors, sectionHeader));
        }
        .section_card_text{
            padding-top: 20px;
            text-align: justify;
            line-height: 1.5;
            font-family: map-get($generalFonts, fontText);
        }
        a.section_link{
            @include font-set(14px, 300,map-get($generalColors, subText));
        }
    }
}
.section_banner{
    @extend .footer-wrap;
    position: absolute;
    bottom: -60px;
    width: 1030px;
    padding: 0px 15px 15px;
    background: $gradient;
    border-radius: 5px;
    .section_banner_heading{
        position: relative;
        @include font-set(25px,bold);
        margin-bottom: 0;
        z-index: 1;
        font-family: map-get($generalFonts, fontRegular);
        &::after{
            @include highlight-word(100px, 0, 53px,45px);
        }
    }
    .section_banner_text{
        @include font-set(14px,normal,map-get($generalColors, subText));
    }
    .section_banner_button{
        @extend .header_button;
    }
}
footer{
    font-size: 14px;
    color: map-get($generalColors, subText);
    background-color: map-get($generalColors, sectionBackground);
}
.footer-wrap{
    font-family: map-get($generalFonts, fontText);
    @include display-flex($align: center, $content: space-around);
    .footer_logo{
        padding: 100px 0px;
    }
    .footer_text{
        width: 270px;
        margin: 0px 175px;
        font-size: 13px;
    }
}
