$pathImage: '../img/m-h-day.jpg';
$generalFonts: (headerFont: ('Source Sans Pro', sans-serif),
                bodyFont: ('Hind', sans-serif),
                fontSizeHed: 14px, 
                fontSizeBody: 15px);
 $generalColors: (contentBackground: #fff,
                  mainText:#2c2f3c,
                  highlightColor: #14a0c7,
                  buttonColor: #699900);