*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body{
    font-family: 'Merriweather', serif;
    background-color: #fff;
    color: #000;
    margin-top: 90px;

}
a{
    text-decoration: none;
    color: #777;
}
ul{
    display: flex;
}
ul li{
    text-align: center;
}
button, .post-link{
    padding: 15px 30px;
    border-radius: 25px;
    color: #555;
    background-color: #fff; 
    border: none;
    letter-spacing: 1px;
}
.header-wrap{
    position: relative;
    display: flex;
    flex-flow: column;
    margin-bottom: 30px;
}
.header-top{
    display: flex;
    padding: 35px 235px;
    justify-content: space-between;
    z-index: 10;
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    width: 100%;
    background-color: #fff;
}
.header-top .header_logo{
    text-transform: uppercase;
    font-weight: 600;
    letter-spacing: 2px;
    color: #555;
}
.header-top .nav-item{
    list-style: none;
    font-size: 0.9em;
    padding: 0px 20px;
    letter-spacing: 1px;
    color: #777;
}
.nav-item a:hover{
    color: #bfba55;
}
.header_content{
    text-align: center;
    background-image: url("../img/home-bg.jpg");
    height: 810px;
    max-width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    color:white;
}
.header_content:before {
    content: "";
    position:absolute;
    width: 100%;
    height: 100%;
    left: 0;
    background: rgba(0,0,0,0.7);}
.flex-center{
    display: flex;
    flex-flow: column;
    align-items: center;
    position: absolute;
    left: 50%;
    top: 51%;
    transform: translate(-50%, -51%);
}
h1.header_title{
    font-size: 53px;
}

p.header_text{
    font-size: 14px;
    color: gold;
    letter-spacing: 1px;
    margin-top: 15px;
}
button.header_button{
    font-size: 11px;
    text-transform: uppercase;
    color: #555;
    background-color: #fff;
    font-size: 11px;
    border: none;
    font-weight: 700;
    font-family: auto;
    margin-top: 50px;
}
button.header_button:hover{
    color: #fff;
    background-color: #bfba55;
}
.blog-wrap{
    display: flex;
    flex-flow: column;
    align-items: center;
    margin-bottom: 65px;
}
article.post-wrap{
    max-width: 900px;
    margin-top: 80px;
}
article.post-wrap:not(:last-child){
    border-bottom: 1px solid #e3e2e2;
}
.blog-wrap img.post-img{
    width: 900px;
    height: 600px;
    margin-bottom: 40px;
}
.post-wrap .post-info{
    margin-top: 20px;
    display: flex;
}

.post-info img.author-img{
    width: 45px;
    height: 45px;
    border-radius: 50%;
    margin-bottom: 30px;
}
.post-info .author-info{
    padding-top: 10px;
}
.post-info .author-info > *{
    padding: 15px 10px;
    color: #555;
    font-family: none;
}
.post-wrap .post-content{
    color: #777;
    font-size: 17px;
    line-height: 25px;
    font-family: none;
}
.post-wrap .full-text{
    margin-top: 40px;
    margin-bottom: 65px;
}
a.post-link{
   border: 1px solid #777;
   font-weight: 600;
   color: #777;
   font-size: 11px;
}
a.post-link:hover{
    color: #bfba55;
    border-color: #bfba55;
}
.footer{
    background-color: #000;
    color: #777;
    padding-top: 100px;
    padding-bottom: 90px;
    display: flex;
    flex-flow: column;
}
.footer-wrap{
    display: flex;
    align-self: center;
    width: 900px;
    justify-content: space-between;
}
.footer-text, .footer-cr, .contact{
    font-family: none;
    font-size: 16px;
}
.footer-content .footer-title{
    color: #fff;
    margin-bottom: 25px;
}
.footer-content .footer-text{
    max-width: 400px;
    line-height: 25px;
    margin-bottom: 25px;
}
address.contact{
    font-style: normal;
}
a.contact{
    display: block;
    margin-top: 18px;
}
