*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
#root{
    margin: 1em 1em;
}
p{
    font-style: italic;
    margin-left: 0.5em;
}
i{
    color: orange;
}
.insert_drive_file i{
    color: gray;
}
.folder, .insert_drive_file{
    display: flex;
    align-items: flex-end;
    padding-bottom: 0.3em;
    
}
.folder ~ div{
    margin-left: 1em;
}
.folder:hover, .insert_drive_file:hover{
    cursor: pointer;
    background-color: #D3D3D3;
}