@media print{
    *:before, *:after, 
    nav, form, .tm-team-img,
    section:last-of-type,
    .boxes, .carousel-indicators,
    .img-contact-us, div#contact{
        display: none;
    }
    h2{
        font-weight: 100;
        text-transform: uppercase;
        padding-top: 20px;
    }
    .tm-main-content,
    .tm-content-box,
    .tm-banner,
    .padding-medium, 
    .tm-team-description-container,
    .carousel {
        margin: 0 auto;
        padding: 0;
        max-width: 100%;
    }
    .carousel-content, .tm-team-description-container{
        padding: 0% 5%;
        text-align: center;
    }
    ol{
        padding: 0% 28%;
    }
    ol li{
        list-style: none;
        clear: both; 
    }
    ol li:nth-child(odd){
        float: right;
    }
    .blocks .tm-team-description-container h2.tm-section-title{
        text-align: center;
    }
}

section{
    position: relative;
}
section::before {
    position: absolute;
    content: '';
    top: 0;
    left: 0;
    border: 18px solid transparent; 
    border-left: 18px solid #87cefa; 
    border-top: 18px solid #87cefa;

}
.tm-main-nav, #home, section{
    box-shadow: 0 0 10px rgba(61, 55, 61, 0.7);
}
.tm-main-nav ul li a:hover{
    background-color: #87cefa;
    color: #fff;
}
.tm-banner{
    background: linear-gradient(0.25turn, #87cefa, #deb887);
}
.tm-banner-inner{
    background-color: #fff;
}
.tm-banner-text{
    position: relative;
    text-shadow: 4px 5px 3px #333;
    animation: bannermove 5s; 
}
@keyframes bannermove {
    from {left: 200px;}
    to {left: 0px}
}
#home + section div.tm-content-box{
    display: flex;    
    text-align: center;
}
#about .boxes.gallery-container{
    width: 100%;
}
.padding-medium h2{
    text-align: center;
    color: #87cefa;
}
p.tm-section-description{
    text-align: left;
    text-indent: 25px;  
}
.boxes.gallery-container .box.box-bg:hover{
    background-color: #d3d3d3;
    font-style: italic;
    color: #87cefa;
}
.padding-medium ol{
    list-style-type: lower-alpha;
}
.padding-medium ol li a:hover:before{
    content: ">";
}
.padding-medium ol li:first-child:after,
.padding-medium ol li:nth-child(3):after{
    content : "New";
    color: #ff0000;
    vertical-align: super;
    font-weight: bold;
    font-variant: all-small-caps;
    font-size: 12px;
}
.blocks h2.tm-section-title{
    text-align: left;
}
.blocks .tm-team-description-container 
p.tm-section-description:nth-child(2){
    text-indent: 25px;
}
 .blocks .tm-team-description-container 
 p.tm-section-description:nth-child(3){
    letter-spacing: 5px;
    word-spacing: 10px;
    font-style: italic;
}
.blocks .tm-content-box ul.boxes.gallery-container li{
    padding: 10px;
}
.blocks .tm-content-box ul.boxes.gallery-container li:nth-child(odd){
    background-color: #87cefa;
    color: #fff;
}
.tm-content-box ul li.box.box-work div p{
    font-style: italic;
}
ul.boxes.gallery-container li p:first-letter{
    font-weight: bold;
}
.carousel-content p.tm-section-description{
    line-height: 30px;
    text-align: center;
    text-indent: 25px;
}
#contact h2.tm-section-title{
    text-align: left;
}
form.contact-form .form-group:not(textarea) input{
    border: none;
    border-bottom: 1px solid #87cefa;
}
textarea#contact_message{
    border-color: #87cefa;
    background: url(../img/email-icon.png) no-repeat right bottom content-box;
    background-size: 31px;
}
form.contact-form input:focus{
    background-color: #87cefa;
}
form.contact-form .btn-primary{
    color: #87cefa;
    background-color: transparent;
    border-color: #87cefa;
    padding: 15px 25px;
    float: right;
}
