*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
#root{
    max-width: 1400px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
html, body {
	background:#f7f1f1;
	font-size:1.1rem;
	font-family:'Quicksand', sans-serif;
	height:100%;
}
h1 {
    margin-top: 0.3em;
    text-align:center;
    font-weight:normal;
    font-size:2em;
    letter-spacing:0.05em;
    border-bottom:1px solid rgba(182, 164, 164, 0.3); 
}
button {
	padding:0.5em 1.5em;
	
	text-transform:uppercase;
	font-weight:bold;
    border:1px solid rgba(255,255,255,.3);
    color: #FF6666;
    margin: 1em;
    align-self: flex-end;
	cursor:pointer;
}
button#add{
    font-size: 1em;
    background:#FF6666;
    color:white;
}
button:hover{
    box-shadow: 1px 5px 5px 3px #727272;
}

}
h2{
    font-style: italic;
	font-size:0.8rem;
	margin-bottom:0.7rem;
	margin-left:3px;
	margin-top:0.2rem; 
}
.container{
    width: 80%;
    margin: 1em auto;
	padding: 0.8em 1em 1em;
	background: #FF6666;
	color: #FFF;
	box-shadow:-10px -10px 0px 0px rgba(100,100,100,.1);
}
ul{
    list-style: none;
}
ul li{
    display: flex;
    flex-direction: column;
    margin: 1em 0.1em;
    padding: 0.7em;
	align-items:center;
	background:rgba(255,255,255,0.1);
}
p{
    margin-left: 1em;
}
li .term{
    align-self: baseline;
}
li:hover{
    /*box-shadow:-10px -10px 0px 0px rgba(100,100,100,.1);*/
    background: #9f3e3e;
}

input[type=checkbox] {
    align-self: flex-end;
    width: 15px;
    height: 15px;
    margin-right: 1em;
}
.hidden{
    display: none;
}
.inputs_term{
    display: flex;
    justify-content: space-around;
    margin: 3em 1em;
}
.input_term{
    outline: 0;
    border: 0;
    display: block;
    width: 256px;
    padding: 8px 4px 6px 4px;
    font-size: 1.2em;
    background: rgba(0,0,0,0);
    color: rgba(0,0,0,0.67);
    border-bottom: 1px solid rgba(0,0,0,0.4);
    text-align: center;
}
.input_term:focus{
    border-bottom: 2px solid white;
}
::-webkit-input-placeholder{
    color: white;
    align-items: center;
}
.add_buttons{
    display: flex;
    justify-content: space-around;
    margin: 3em 3em;
}